<ion-view style="" class=" " id="page2" title="Capteurs" hide-back-button="true">
    <ion-content class="has-header" padding="true">
        <a class=" button button-positive  button-block " id="capteurs-button10" ui-sref="menu.tempRature">Température</a>
        <a class=" button button-positive  button-block " id="capteurs-button11" ui-sref="menu.humidit">Humidité</a>
        <a class=" button button-positive  button-block " id="capteurs-button12" ui-sref="menu.luminosit">Luminosité</a>
        <a class=" button button-dark  button-block " id="capteurs-button20" ui-sref="menu.cO2">CO2</a>
    </ion-content>
</ion-view>