<ion-view style="" class=" " id="page14" title="Chauffage (programme)">
    <ion-content class="has-header" padding="true">
        <form style="" class="list " id="chauffageProgramme-form8">
            <ion-toggle style="" class=" " name="Etat" id="chauffageProgramme-toggle9" toggle-class="toggle-balanced" ng-checked="true">Etat</ion-toggle>
            <h3 class=" " style="color: rgb(0, 0, 0);" id="chauffageProgramme-heading12">Puissance</h3>
            <label style="" name="Puissance" id="chauffageProgramme-input20" class="item item-input ">
                <span class="input-label">Puissance (%)</span>
                <input placeholder="75" type="number">
            </label>
        </form>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="chauffageProgramme-heading13">Seuils d'activation (°C)</h3>
        <form style="" class="list " id="chauffageProgramme-form9">
            <label style="" name="Mise en marche :" id="chauffageProgramme-input21" class="item item-input ">
                <span class="input-label">Mise en marche :</span>
                <input placeholder="17" type="number">
            </label>
            <label style="" name="Extinction :" id="chauffageProgramme-input22" class="item item-input ">
                <span class="input-label">Extinction :</span>
                <input placeholder="23" type="number">
            </label>
        </form>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="chauffageProgramme-heading14">Horaires</h3>
        <form style="" class="list " id="chauffageProgramme-form10">
            <label style="" name="Départ" id="chauffageProgramme-input23" class="item item-input ">
                <span class="input-label">Départ :</span>
                <input placeholder="" type="time">
            </label>
            <label style="" name="Fin :" id="chauffageProgramme-input24" class="item item-input ">
                <span class="input-label">Fin :</span>
                <input placeholder="" type="time">
            </label>
            <ion-checkbox style="" name="Toute la journée">Toute la journée</ion-checkbox>
        </form>
    </ion-content>
</ion-view>