<ion-view style="" class=" " id="page10" title="Créer un programme">
    <ion-content class="has-header" padding="true">
        <form style="" class="list " id="crErUnProgramme-form18">
            <ion-toggle style="" class=" " id="crErUnProgramme-toggle4" toggle-class="toggle-balanced" ng-checked="true">Etat</ion-toggle>
            <label style="" name="Nom" id="crErUnProgramme-input30" class="item item-input ">
                <span class="input-label">Nom :</span>
                <input placeholder="Easy Life" type="text">
            </label>
            <ion-toggle style="" class=" " name="Prioritaire" id="crErUnProgramme-toggle6" toggle-class="toggle-royal" ng-checked="true">Prioritaire ?</ion-toggle>
        </form>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="crErUnProgramme-heading6">Appareils</h3>
        <ion-list style="" class=" " id="crErUnProgramme-list4">
            <ion-item style="" class="  " ui-sref="menu.eclairageProgramme" id="crErUnProgramme-list-item15">Eclairage</ion-item>
            <ion-item style="" class="  " ui-sref="menu.chauffageProgramme" id="crErUnProgramme-list-item17">Chauffage</ion-item>
            <ion-item style="" class="  " ui-sref="menu.vMCProgramme" id="crErUnProgramme-list-item16">VMC</ion-item>
        </ion-list>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="crErUnProgramme-heading7"></h3>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="crErUnProgramme-heading8">Quand ?</h3>
        <form style="" class="list " id="crErUnProgramme-form11">
            <ion-checkbox style="" name="Répétition">Répétition hebdomadaire</ion-checkbox>
            <div style="width: 283px; height: 19px;" class="spacer"></div>
            <ion-checkbox style="" name="Lundi">Lundi</ion-checkbox>
            <ion-checkbox style="" name="Mardi">Mardi</ion-checkbox>
            <ion-checkbox style="" name="Mercredi">Mercredi</ion-checkbox>
            <ion-checkbox style="" name="Jeudi">Jeudi</ion-checkbox>
            <ion-checkbox style="" name="Vendredi">Vendredi</ion-checkbox>
            <ion-checkbox style="" name="Samedi">Samedi</ion-checkbox>
            <ion-checkbox style="" name="Dimanche">Dimanche</ion-checkbox>
            <div style="width: 283px; height: 29px;" class="spacer"></div>
            <label style="" name="Heure de départ" id="crErUnProgramme-input31" class="item item-input ">
                <span class="input-label">Heure de départ :</span>
                <input placeholder="15:06" type="time">
            </label>
            <label style="" name="Heure de fin" id="crErUnProgramme-input32" class="item item-input ">
                <span class="input-label">Heure de fin :</span>
                <input placeholder="" type="time">
            </label>
            <button class=" button button-positive  button-block " id="crErUnProgramme-button13">Créer le programme</button>
        </form>
    </ion-content>
</ion-view>