<ion-view style="" class=" " id="page11" title="Eclairage (programme)">
    <ion-content class="has-header" padding="true">
        <form style="" class="list " id="eclairageProgramme-form15">
            <ion-toggle style="" class=" " name="Etat" id="eclairageProgramme-toggle7" toggle-class="toggle-balanced" ng-checked="true">Etat</ion-toggle>
            <h3 class=" " style="color: rgb(0, 0, 0);" id="eclairageProgramme-heading11">Puissance</h3>
            <label style="" name="Puissance" id="eclairageProgramme-input19" class="item item-input ">
                <span class="input-label">Puissance (%)</span>
                <input placeholder="75" type="number">
            </label>
        </form>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="eclairageProgramme-heading9">Seuils d'activation (lux)</h3>
        <form style="" class="list " id="eclairageProgramme-form12">
            <label style="" name="Mise en marche :" id="eclairageProgramme-input15" class="item item-input ">
                <span class="input-label">Mise en marche :</span>
                <input placeholder="150" type="number">
            </label>
            <label style="" name="Extinction :" id="eclairageProgramme-input16" class="item item-input ">
                <span class="input-label">Extinction :</span>
                <input placeholder="300" type="number">
            </label>
        </form>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="eclairageProgramme-heading10">Horaires</h3>
        <form style="" class="list " id="eclairageProgramme-form13">
            <label style="" name="Départ" id="eclairageProgramme-input17" class="item item-input ">
                <span class="input-label">Départ :</span>
                <input placeholder="" type="time">
            </label>
            <label style="" name="Fin :" id="eclairageProgramme-input18" class="item item-input ">
                <span class="input-label">Fin :</span>
                <input placeholder="" type="time">
            </label>
            <ion-checkbox style="" name="Toute la journée">Toute la journée</ion-checkbox>
        </form>
    </ion-content>
</ion-view>