<ion-view style="" class=" " id="page13" title="Exemple (historique)">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 219px;" class="spacer"></div>
        <ion-list style="" class=" " id="exempleHistorique-list8">
            <ion-item style="" id="exempleHistorique-list-item-divider1" class="item-divider ">Dernières actions</ion-item>
            <ion-item style="" class="  " ui-sref="menu.actionEnDTail" id="exempleHistorique-list-item29">Lumières allumées</ion-item>
            <ion-item style="" class="  " id="exempleHistorique-list-item30">Volets fermés</ion-item>
            <ion-item style="" class="  " id="exempleHistorique-list-item31">Volets ouverts</ion-item>
        </ion-list>
    </ion-content>
</ion-view>