<ion-view style="" class=" " id="page6" title="Formulaire de contact">
    <ion-content class="has-header" padding="true">
        <h3 class=" " style="color: rgb(0, 0, 0);" id="formulaireDeContact-heading2">Vous</h3>
        <form style="" class="list " id="formulaireDeContact-form4">
            <label style="" name="Nom :" id="formulaireDeContact-input1" class="item item-input ">
                <span class="input-label">Nom :</span>
                <input placeholder="Obama" type="text">
            </label>
            <label style="" name="Prénom :" id="formulaireDeContact-input2" class="item item-input ">
                <span class="input-label">Prénom :</span>
                <input placeholder="Barack" type="text">
            </label>
            <label style="" name="Adresse :" id="formulaireDeContact-input4" class="item item-input ">
                <span class="input-label">Adresse :</span>
                <input placeholder="The White House" type="text">
            </label>
            <label style="" name="Tél :" id="formulaireDeContact-input5" class="item item-input ">
                <span class="input-label">Tél :</span>
                <input placeholder="XXXXXXXX" type="tel">
            </label>
            <label style="" name="Email :" id="formulaireDeContact-input3" class="item item-input ">
                <span class="input-label">Email :</span>
                <input placeholder="barack@obama.com" type="email">
            </label>
        </form>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="formulaireDeContact-heading3">Evaluation de l'application</h3>
        <form style="" class="list " id="formulaireDeContact-form7">
            <label style="" name="Note /10 :" id="formulaireDeContact-input7" class="item item-input ">
                <span class="input-label">Note Générale /10 :</span>
                <input placeholder="" type="number">
            </label>
            <label style="" name="Praticité" id="formulaireDeContact-input8" class="item item-input ">
                <span class="input-label">Praticité /10 :</span>
                <input placeholder="" type="number">
            </label>
            <label style="" name="Comprénsibilité" id="formulaireDeContact-input9" class="item item-input ">
                <span class="input-label">Compréhensibilité /10 :</span>
                <input placeholder="" type="number">
            </label>
            <label style="" name="Rapidité" id="formulaireDeContact-input10" class="item item-input ">
                <span class="input-label">Rapidité /10 :</span>
                <input placeholder="" type="number">
            </label>
            <ion-checkbox style="" name="Satisfaction">Êtes-vous satisfait ?</ion-checkbox>
            <label style="" name="Pourquoi ?" id="formulaireDeContact-input11" class="item item-input ">
                <span class="input-label">Pourquoi ?</span>
                <input placeholder="" type="text">
            </label>
            <h3 class=" " style="color: rgb(0, 0, 0);" id="formulaireDeContact-heading4">Suggestions/Questions</h3>
            <label style="" name="Suggestions" id="formulaireDeContact-input12" class="item item-input ">
                <span class="input-label">Que pourrait-on améliorer ? Pourquoi ? Comment ?</span>
                <input placeholder="" type="text">
            </label>
            <label style="" name="Questions" id="formulaireDeContact-input13" class="item item-input ">
                <span class="input-label">Rencontrez-vous des problèmes ? Avez-vous des questions à nous poser ?</span>
                <input placeholder="" type="text">
            </label>
            <label style="" name="Technologies" id="formulaireDeContact-input14" class="item item-input ">
                <span class="input-label">Avez-vous des idées de nouvelles technologies/nouveaux à appareils à utiliser ?</span>
                <input placeholder="" type="text">
            </label>
            <button class=" button button-positive  button-block " id="formulaireDeContact-button19">Envoyer</button>
        </form>
    </ion-content>
</ion-view>