<ion-view style="" class=" " id="page8" title="Historique">
    <ion-content class="has-header" padding="true">
        <p class=" " style="color: rgb(0, 0, 0); text-align: center;" id="historique-markdown9">Cliquez sur le bouton de votre choix pour accéder à l'historique correspondant</p>
        <a class=" button button-positive  button-block " id="historique-button7" ui-sref="menu.exempleHistorique">Température</a>
        <a class=" button button-positive  button-block " id="historique-button8" ui-sref="menu.exempleHistorique">Humidité</a>
        <a class=" button button-positive  button-block " id="historique-button9" ui-sref="menu.exempleHistorique">Luminosité</a>
    </ion-content>
</ion-view>