<ion-side-menus style="" enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list style="" class=" " id="menu-list1">
                <ion-item style="" class="  " menu-close="" ui-sref="menu.acceuil" id="menu-list-item1">Home</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.programmes" id="menu-list-item9">Programmes</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.capteurs" id="menu-list-item3">Capteurs</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.appareils" id="menu-list-item10">Appareils</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.historique" id="menu-list-item11">Historique</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.paramTres" id="menu-list-item5">Paramètres</ion-item>
                <ion-item style="" class="  " menu-close="" ui-sref="menu.nousContacter" id="menu-list-item4">Nous contacter</ion-item>
            </ion-list>
            <p class=" " style="color: rgb(0, 0, 0);" id="menu-markdown1">Made with
                <strong>❤️</strong>in Grenoble</p>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>