<ion-view style="" class=" " id="page5" title="Nous contacter">
    <ion-content class="has-header" padding="true">
        <a class=" button button-positive  button-block " id="nousContacter-button1" ui-sref="menu.formulaireDeContact">Formulaire de contact</a>
        <p class=" " style="color: rgb(0, 0, 0);" id="nousContacter-markdown6">Si vous souhaitez nous transmettre toute information ne figurant pas sur le formulaire ou nous transmettre des propositions autres, veuillez nous contacter via l'addresse e-mail : projetstutoresge2i@gmail.com</p>
        <h3 class=" " style="color: rgb(35, 44, 153); font-weight: 400;"
        id="nousContacter-heading1">Qui sommes nous ?</h3>
        <p class=" " style="color: rgb(0, 0, 0);" id="nousContacter-markdown2">Cette application a été réalisée par un groupe de 5 étudiants talentueux en première année à l'IUT1 de Grenoble (département GEII). Nous avons été accompagnés dans ce projet par Monsieur Delinchant et un groupe d'étudiants de deuxième année.</p>
    </ion-content>
</ion-view>