<ion-view style="" class=" " id="page3" title="Paramètres">
    <ion-content class="has-header" padding="true">
        <form style="" class="list " id="paramTres-form2">
            <ion-toggle style="" class=" " name="Notifications" id="paramTres-toggle3" toggle-class="toggle-positive" ng-checked="true">Notifications</ion-toggle>
            <p class=" " style="color: rgb(0, 0, 0);" id="paramTres-markdown4">Si vous cochez cette case vous recevrez une notification à chaque mise en marche/extinction d'un appareil</p>
            <div style="width: 283px; height: 21px;" class="spacer"></div>
            <label style="" name="Référence Météo" id="paramTres-select2" class="item item-select ">
                <span class="input-label">Référence météo</span>
                <select>
                    <option>Weather</option>
                    <option>Météofrance</option>
                </select>
            </label>
            <label style="" name="Langue" id="paramTres-select1" class="item item-select ">
                <span class="input-label">Langue</span>
                <select>
                    <option>Français</option>
                    <option>English</option>
                    <option>Español</option>
                </select>
            </label>
        </form>
        <p class=" " style="color: rgb(0, 0, 0);" id="paramTres-markdown3">L'application est actuellement sur sa version 0.0.1</p>
    </ion-content>
</ion-view>