<ion-view style="" class=" " id="page15" title="VMC (programme)">
    <ion-content class="has-header" padding="true">
        <form style="" class="list " id="vMCProgramme-form14">
            <ion-toggle style="" class=" " name="Etat" id="vMCProgramme-toggle11" toggle-class="toggle-balanced" ng-checked="true">Etat</ion-toggle>
            <h3 class=" " style="color: rgb(0, 0, 0);" id="vMCProgramme-heading15">Puissance</h3>
            <label style="" name="Puissance" id="vMCProgramme-input25" class="item item-input ">
                <span class="input-label">Puissance (%)</span>
                <input placeholder="75" type="number">
            </label>
        </form>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="vMCProgramme-heading16">Seuils d'activation (%C02)</h3>
        <form style="" class="list " id="vMCProgramme-form16">
            <label style="" name="Mise en marche :" id="vMCProgramme-input26" class="item item-input ">
                <span class="input-label">Mise en marche :</span>
                <input placeholder="70" type="number">
            </label>
            <label style="" name="Extinction :" id="vMCProgramme-input27" class="item item-input ">
                <span class="input-label">Extinction :</span>
                <input placeholder="40" type="number">
            </label>
        </form>
        <h3 class=" " style="color: rgb(0, 0, 0);" id="vMCProgramme-heading17">Horaires</h3>
        <form style="" class="list " id="vMCProgramme-form17">
            <label style="" name="Départ" id="vMCProgramme-input28" class="item item-input ">
                <span class="input-label">Départ :</span>
                <input placeholder="" type="time">
            </label>
            <label style="" name="Fin :" id="vMCProgramme-input29" class="item item-input ">
                <span class="input-label">Fin :</span>
                <input placeholder="" type="time">
            </label>
            <ion-checkbox style="" name="Toute la journée">Toute la journée</ion-checkbox>
        </form>
    </ion-content>
</ion-view>